// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$hanada: #044F67;
$background: #FCD0BA;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $background;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$card-shadow: 0px;

.wrapper {
    width: 100%;
    max-width: 1200px;
}

.bar-container {
    margin-bottom: 2px !important;
}

body {
    font-family: "Raleway" !important;
}

.title-line {
    width: 70px;
    height: 2px;
    background:  #757763;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.invert {
    background: hsl(0, 0%, 96%);
}
    
    